.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    z-index: 9;
    background-color: #3B6790;
}

.nav-link ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link ul li{
    outline: none;
    list-style: none;
    margin-left: 40px;
    margin-left: 40px;
}

.nav-link ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #0F172A;

}

.nav-link ul li a:hover{
    border-bottom: 2px plue solid;
    color: #727D73;
}
.account ul{
    display: flex;
    flex-direction: row;
}

.account ul li{
    list-style: none;
    margin-left: 40px;
    margin-left: 40px;
}

input {
    width: 400px;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    cursor: pointer;
}

input:focus {
    border-color: #0f766e;
}

button {
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 15px;
    margin-top: 20px;
    padding: 12px;
    background: #0f766e;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.login-container {
    display: flex;
    position: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 40px;
}

.login-card {
    border-radius: 20px;
    position: relative;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px #00ffcc;
    text-align: center;
    justify-content: center;
    align-items: row;
    background: linear-gradient(90deg, #ff4dff, #00ffcc);
}

.login-card lebel {
    display: grid;
    gap: 20px;
    width: 90px;
}

.register-container {
    display: flex;
    position: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 40px;
}

.register-card {
    border-radius: 20px;
    position: relative;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px #00ffcc;
    text-align: center;
    justify-content: center;
    align-items: row;
    background: linear-gradient(90deg, #00ffcc), #ff4dff;

}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 6px;
    font-size: 14px;
}