.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    z-index: 9;
    background-color: #346a9c;
}

.nav-link ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #0f172a;
}

.nav-link ul li{
    outline: none;
    list-style: none;
    font-size: 15px;
    padding: 6px 12px;
    border-radius: 6px;
}

.nav-search {
    margin: 0 30px;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    border: none;
}

.logo1 {
    height: 40px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    animation: bgchange 8s infinite alternate;
   background: radial-gradient(circle at right, #2563eb, #050d1f 70%);
}

@keyframes bgchange {
    0% { background: #0f2027; }
    25% { background: #203a43; }
    50% { background: #2c5364; }
    75% { background: #6a11cb; }
    100% { background: #2575fc; }
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    color: #cbd5f5;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    background: #0b1f4d;
    border-radius: 30px;
    overflow: hidden;
    width: 380px;
}

.search-box input {
    flex: 1;
    border: none;
    padding: 12px;
    background: transparent;
    color: white;
}

.search-box button {
    background: #3b82f6;
    border: none;
    padding: 12px 20px;
    color: wwhite;
    cursor: white;
}

.tags span {
    margin-top: 15px;
}

.tags span {
    background: #0b1f4d;
    padding: 2px 6px;
    border-radius: 20px;
    margin-right: 8px;
    font-size: 13px;
}

.hero-img img {
    width: 350px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

.nav-link ul li a:hover{
    border-bottom: 2px plue solid;
    color: #727D73;
}
.account ul{
    display: flex;
    flex-direction: row;
}

.account ul li{
    list-style: none;
    margin-left: 40px;
    margin-left: 40px;
}

input {
    width: 400px;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    cursor: pointer;
}

input:focus {
    border-color: #0f766e;
}

button {
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 15px;
    margin-top: 20px;
    padding: 12px;
    background: #0e7970;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.login-container {
    display: flex;
    position: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 40px;
}

.login-card {
    border-radius: 20px;
    position: relative;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px #00ffcc;
    text-align: center;
    justify-content: center;
    align-items: row;
    background: linear-gradient(90deg, #ff4dff, #00ffcc);
}

.register-container {
    display: flex;
    position: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 40px;
}

.register-card {
    border-radius: 20px;
    position: relative;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px #00ffcc;
    text-align: center;
    justify-content: center;
    align-items: row;
    background: linear-gradient(90deg, #00ffcc), #ff4dff;

}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #ccc;
}

.form-group input {
    padding: 12px;
    border-radius: 6px;
}