* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.header{
    width: 100%;
    background: #2563eb;
    align-items: center;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 9;
    color: white;
}

.nav-link ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: #0f172a;
}

.account ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-link ul li{
    margin: 0 10px;
    /*outline: none;*/
    /*list-style: none;*/
    /*font-size: 15px;*/
    /*padding: 6px 12px;*/
    border-radius: 6px;
}

.account ul li {
    margin: 0 10px;
}

.nav-link ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: o.3s;
}

.account ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.nav-link ul li a:hover {
    color: #ffd43b;
}

.account ul li a:hover {
    color: #ffd43b;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: stretch;
    }

    .logo {
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-search {
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }

    #micBtn {
        align-self: center;
        margin-bottom: 10px;
    }

    .nav-link ul {
        flex-direction: column;
        text-align: center;
    }

    .account ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-link ul li {
        margin: 8px 0;
    }

    .account ul li {
        margin: 8px 0;
    }
}

.nav-search {
    flex: 1;
    max-width: 400px;
    margin: 0 30px;
    padding: 8px 15px;
    height: 40px;
    width: 400px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.logo1 {
    height: 60px;
    border-radius: 60px;
}

.hero {
    min-height: 50vh;
    width: 100%;
    padding: 60px;
    /*max-width: 1300px;*/
    margin: 40px auto;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 0 15px;*/
    animation: bgchange 8s infinite alternate;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("{% static 'images/picture.jpg' %}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #0f2e2e;
    /*background-image: url("{% static 'images/picture.jpg' %}");*/
    color: white;
    /*position: relative;*/
   /* overflow: hidden;*/
}

@keyframes bgchange {
    0% { background: #0f2027; }
    25% { background: #203a43; }
    50% { background: #2c5364; }
    75% { background: #6a11cb; }
    100% { background: #2575fc; }
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(255,255,255,0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    opacity: 0.3;
    top: 0;
    left: 0;
}

.hero-text {
    flex: 1;
    z-index: 2;
    max-width: 50%;
}

.hero-text h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 700px;
}

.hero-text p {
    font-size: 18px;
    color: #d1d1d1;
    margin-bottom: 30px;
}

.search-box {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    height: 50px;
}

.search-box input {
    flex: 1;
    border: none;
    padding: 15px 20px;
    outline: none;
    background: transparent;
    color: white;
    font-size: 16px;
}

.search-box button {
    padding: 15px 30px;
    width: 40px;
    border: none;
    background: linear-gradient(45deg, #4facfe, #00f2fe);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button::hover {
    transform: scale(1.05);
}

#micBtn {
    background: transparent;
   /* display: flex;*/
    font-size: 18px;
   /* align-items: center;*/
    border: none;
    cursor: pointer;
    margin-right: 15px;
}

/*.search-box button {
    flex: 1;
    background: #3b82f6;
    border: none;
    height: 10px;
    width: 50px;
    padding: 12px 20px;
    color: white;
    cursor: pointer;
}*/

.tags {
    margin-top: 20px;
}

.tags span {
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 15px;
    margin-top: 15px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.tags span:hover {
    background: #4facfe;
}

.hero-img {
    flex: 1;
    text-align: right;
    z-index: 2;
    position: center;
    max-width: 1200px;
    height: auto;
}

.hero-img img {
    position: center;
    mix-blend-mode: screen;
    border-radius: 50px;
    filter: drop-shadow(0 20px 40px rgba(0,0,0,0.4));
    width: 90%;
    object-fit: cover;
    max-width: 450px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
    height: 450px;
    -webkit-mask-image: radial-gradient(circle, black 60% , transparent 100%);
    mask-image: radial-gradient(circle, rgb(36, 142, 168) 60%, transparent 100%);
    animation: float 3s ease-in-out infinite;*/
    height: 100%;
    top: 0;
    left
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

@media (max-width: 992px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px;
    }

    .hero-img {
        text-align: center;
        margin-top: 30px;
    }

    .hello-text h1 {
        font-size: 32px;
    }
}

.nav-link ul li a:hover{
    border-bottom: 2px plue solid;
    color: #727D73;
}
.account ul{
    display: flex;
    flex-direction: row;
}

.account ul li{
    list-style: none;
    margin-left: 40px;
    margin-left: 40px;
}

input {
    width: 400px;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    cursor: pointer;
}

input:focus {
    border-color: #0f766e;
}

button {
    display: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 15px;
    margin-top: 20px;
    padding: 12px;
    background: #0e7970;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.login-container {
    display: flex;
    position: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 40px;
}

.login-card {
    border-radius: 20px;
    position: relative;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px #00ffcc;
    text-align: center;
    justify-content: center;
    align-items: row;
    background: linear-gradient(90deg, #ff4dff, #00ffcc);
}

.register-container {
    display: flex;
    position: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 40px;
}

.register-card {
    border-radius: 20px;
    position: relative;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px #00ffcc;
    text-align: center;
    justify-content: center;
    align-items: row;
    background: linear-gradient(90deg, #00ffcc), #ff4dff;

}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #ccc;
}

.form-group input {
    padding: 12px;
    border-radius: 6px;
}

.section-title {
    text-align: center;
    margin: 40px 0 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
    gap: 20px;
    padding: 0 40px 40px;
}

.card {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(90deg, white, #91c3cc);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
}

.price {
    color: #1f4eb4;
    font-weight: bold;
}

.btn {
    background: #2563eb;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #2f3542;
    position: fixed;
    color: white;
    padding-top: 20px;
}

.sidebar a{
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #57606f;
}

.main {
    margin-left: 220px;
    padding: 20px;
}

.card {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    cursor: pointer;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    cursor: pointer;
}

th,td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

section {
    min-height: 50vh;
    padding: 60px 20px;
}