.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    z-index: 9;
    background-color: #3B6790;
}

.nav-link ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link ul li{
    outline: none;
    list-style: none;
    margin-left: 40px;
    margin-left: 40px;
}

.nav-link ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #0F172A;

}

.nav-link ul li a:hover{
    border-bottom: 2px plue solid;
    color: #727D73;
}
.account ul{
    display: flex;
    flex-direction: row;
}

.account ul li{
    list-style: none;
    margin-left: 40px;
    margin-left: 40px;
}

input {
    width: 50%;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    cursor: pointer;
}

input:focus {
    border-color: #0f766e;
}

button {
    align-items: center;
    width: 50%;
    margin-top: 20px;
    padding: 12px;
    background: #0f766e;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.login-container {
    position: center;
    width: 600px;
    height: 900px;
    justify-content: center;
    align-items: center;
    border-radius: 400px;
    cursor: pointer;
    padding: 40px;
}

.login-card {
    justify-content: center;
    align-items: row;
    background: linear-gradient(90deg, #ff4dff, #00ffcc);
}

