{% extends "reusable/base.html"%}
{% load static %}
{% block content %}
<h2>Your Cart</h2>

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Your Cart</title>
    <link rel="stylesheet" href="{% static 'store/css/shop.css' %}">
</head>
<body>

<h1 class="title">Your Shopping Cart</h1>

{% if items %}
<table class="cart-table">
    <tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
    </tr>

    {% for item in items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>$ {{ item.product.price }}</td>
        <td>$ {{ item.product.price|floatformat:2 }}</td>
    </tr>
    {% endfor %}
</table>

<a href="/" class="btn">Continue Shopping</a>

{% else %}
<p>Your cart is empty </p>
<a href="{% url 'checkout' %}" class="btn">Proceed to Checkout</a>

{% endif %}

<script>
document.querySelectorAll('.add-to-cart-btn').forEach(button => {
    button.addEventListener('click', function() { 
        const productId = this.dataset.id;

        fetch("{% url 'add_to_cart_ajax' %}", {
            method: "POST",
            headers: {
                "content-Type": "application/x-www-form-urlencoded",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: "product_id=" + productId
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                alert("Added to cart");
            }
        });
    });
});    
</script>
</body>
</html>

{% endblock %}