{% extends "reusable/base.html"%}

{% block content %}

<section class="hero">
    <div class="hello-text">
        <h1>Find amazing and new one products</h1>
        <P>make  with us to connect with the WORLD market</P>

        <div class="search-box">
            <input type="text" placeholder="search new product with brands">
            <button>Search</button>
        </div>
        
        <div class="tags">
            <span>Laptops</span>
            <span>watches</span>
            <span>smartphones</span>
        </div>
    </div>

    <div class="hero-img">
        
    </div>

</section>


{% endblock %}