{% extends "reusable/base.html"%}

{% block content %}


<h2>Register here </h2>

{% for message in messages %}
<p style="color:rgb(98, 0, 255);">{{ message }}</p>
{% endfor %}

<form method="POST">
    {% csrf_token %}

    <div class="text">
       <input type="text" name="username" placeholder="Username" required><br><br>
       <i class="fa-solid fa-pen-to-square"></i>   
    </div>    

    
    <input type="email" name="email" placeholder="Email" required><br><br>
    <input type="password" name="password1" placeholder="Password" required><br><br>
    <input type="password" name="password2" placeholder="Confirm Password" required><br><br>
    <input type="date" name="date_of_birth" placeholder="Date of Birth" required><br><br>
    <input type="number" name="phone_number" placeholder="Phone Number" required><br><br>

    <input type="submit" value="Register">
</form>

{% endblock %}