{% extends "reusable/base.html"%}

{% load static %}

{% block content %}

<h2>Welcome {{ request.user.username }}</h2>
<p>Your profile page</p>
<div class="sidebar">
    <h2 style="text-align:center;">ADMIN</h2>
    <a href="">Dashboard</a>
    <a href="">Users</a>
    <a href="">Orders</a>
    <a href="">Products</a>
    <a href="">Logout</a>
</div>

<div class="main">
    <h1>Admin Dashboard</h1>

    <div class="card">Total users: 120</div>
    <div class="card">Total Orders: 58</div>
    <div class="card">Revenue: $5,200</div>

</div>

<div class="card">Total Users: {{ users }}</div>
<div class="card">Total Order: {{ orders }}</div>
<div class="card">Total Products: {{ products }}</div>
<div class="card">Total Revenue: ${{ revenue }}</div>

<h2>Low Stock Products</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Stock</th>
    </tr>
    {% for item in low_stock %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.stock }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="2">No low stock products</td></tr>
    
</table>
{%  endblock %}