<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fontawesome.com/icons/circle-phone?f=sharp&s=light&pc=rgba%28255%2C%20212%2C%2059%2C%201%29&sc=rgba%28255%2C%20212%2C%2059%2C%200.4%29">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="{%static 'images/logo1.png' %}" alt="logo1" class="logo1">
        </div>
        <input class="nav-search" type="text" placeholder="search products, and new one...">
        <div class="nav-link">
            <ul>
                <li><a href="{% url 'home' %}">home</a></li>
                <li><a href="">products</a></li>
                <li><a href=""><i class="fa-sharp fa-light fa-circle-phone" style="color: rgba(255, 212, 59, 1);"></i></a></li>
                <li><a href="">about</a></li>
                <li><a href="{% url 'cart' %}"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a></li>
            </ul>

        </div>
        <div class="account">
            <ul>
                <li><a href="{% url 'register' %}">register</a></li>
                <li><a href="{% url 'login' %}">logIn</a></li>
                <li><a href="{% url 'login' %}"><i class="fa-notdog-duo fa-solid fa-arrow-right-from-bracket"></i></a></li>
            </ul>
        </div>

    </div>
    
</body>
</html>